.biography-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  height: -webkit-fill-available;
  z-index: 10;
  overflow: scroll;
  padding-top: 10;
}
